.detailContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    width: auto;
    margin: 15px;
    /* height: auto; */
    /* Creo que no es necesario en éste caso */
    /* height: 20%; */
}

.concertDetails{
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    text-align: left;
}

.concertDetails p{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.concertImg {
    background-color: azure;
    height: 75vh;
}

.artistsArr{
    /* padding: 100px 0 100px 0;
    color: red; */
    /* NO TOMA EL PADDING INFERIOR */
}

@media (max-width: 560px) {
    .col {
        width: 90%;
        height: auto;
    }
    .concertDetails{
        padding: 0;
    }
}