.flyerContainer {
    background: #0a0808; 
}

.flyerCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

li a {
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

.overflow {
    overflow: hidden;
}

.cardImg{
    width: 230px;
    height: auto;
    background-color: azure;
    transition: all 0.7s ease-in-out;
}

.cardImg:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 1px rgba(255, 255, 255, 0.106) !important;
}

@media (max-width: 560px) {
    .cardImg {
        width: 90%;
        height: auto;
    }
}