.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.col {
    max-width: 400px;
    width: auto;
    margin: 15px;
}

.aboutDetails {
    font-size: 1.4rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

.aboutDetails :first-child{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.aboutImg {
    width: 230px;
    height: auto;
    background-color: azure;
}

@media (max-width: 560px) {
    .col {
        width: 90%;
    }
}

