.aboutCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.aboutCard:hover {
    opacity: 0.8;
}

.aboutImg {
    border-radius: 10px;
    background-color: azure;
}

@media (max-width: 560px) {
    .aboutImg {
        width: 90%;
        height: auto;
    }
}