*  {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  body {
    background: rgb(10, 8, 8);
  background: linear-gradient(180deg, rgba(10, 8, 8, 1) 30%, rgba(23, 4, 73, 1) 88%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
  background-size: cover;
  }